body {
  background-color: #a21d34;
  color: #E4F1FE;
  font-family: "Lucida Grande";
  font-size: 16px;
  margin: 0px;
}

header #sideNav {
  background-color: white;
  display: none;
  flex-flow: column nowrap;
  width: auto;
  height: 100vh;
  position: fixed;
  z-index: 1;
  top: 0px;
  right: 0px;
  overflow-x: hidden;
  padding-top: 15px;
}
header #sideNav a, header #sideNav span {
  font-size: 24px;
  padding: 5px 0px 6px 20px;
  margin: 0px 20px 0px 0px;
  text-decoration: none;
  color: #a21d34;
}
header #sideNav a:hover {
  color: #5c1414;
}
header #sideNav a:visited {
  color: #a21d34;
}
header #sideNav a:active {
  color: #9a9a9a;
}

.openNavButton {
  position: fixed;
  right: 20px;
  padding-top: 20px;
  font-size: 24px;
}

.closeNavButton {
  position: relative;
  padding-left: 128px;
  font-size: 24px;
}

main {
  display: flex;
  flex-flow: column nowrap;
}
main section {
  border: 2px solid white;
  height: 100vh;
  width: 100vw;
}
main .topSection {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  object-fit: cover;
}
main .topSection h1, main .topSection h2 {
  font-family: "Bungee Inline", cursive;
  font-size: 50px;
}
main .topSection img {
  position: absolute;
  width: 100vw;
  height: 100vh;
  opacity: 0.3;
  z-index: -5;
  object-fit: cover;
}
main .middleSection {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
main .middleSection img {
  position: absolute;
  width: 100vw;
  height: 100vh;
  opacity: 0.3;
  z-index: -5;
  object-fit: cover;
}
main .bottomSection {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
main .bottomSection img {
  position: absolute;
  width: 100vw;
  height: 100vh;
  opacity: 0.3;
  z-index: -5;
  object-fit: cover;
}
main .bottomSection form {
  width: 500px;
}
main .bottomSection form fieldset {
  padding-top: 20px;
}
main .bottomSection form fieldset div {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 10px 5px 5px 5px;
}
main .bottomSection form fieldset div label {
  width: 80px;
}
main .bottomSection form fieldset button {
  background-color: white;
}

.labelsAndInputs {
  display: flex;
  flex-flow: column nowrap;
}

@media only screen and (min-device-width: 220px) and (max-device-width: 480px) {
  header #sideNav {
    background-color: white;
    display: none;
    flex-flow: column nowrap;
    width: 130px;
    height: 100vh;
    position: fixed;
    z-index: 1;
    top: 0px;
    right: 0px;
    overflow-x: hidden;
    padding-top: 14px;
  }
  header #sideNav a, header #sideNav span {
    font-size: 14px;
    padding: 5px 0px 6px 20px;
    margin: 0px 20px 0px 0px;
    text-decoration: none;
    color: #a21d34;
  }
  header #sideNav a:hover {
    color: #5c1414;
  }
  header #sideNav a:visited {
    color: #a21d34;
  }
  header #sideNav a:active {
    color: #9a9a9a;
  }

  .openNavButton {
    position: fixed;
    right: 20px;
    padding-top: 20px;
    font-size: 16px;
  }

  .closeNavButton {
    position: relative;
    padding-left: 78px;
    font-size: 16px;
  }

  .bottomSection {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
  }
  .bottomSection img {
    position: absolute;
    width: 100vw;
    height: 100vh;
    opacity: 0.3;
    z-index: -5;
    object-fit: cover;
  }
  .bottomSection form {
    width: auto;
  }
  .bottomSection form fieldset {
    padding-top: 20px;
  }
  .bottomSection form fieldset div {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding: 10px 5px 5px 5px;
  }
  .bottomSection form fieldset div label {
    width: 80px;
  }
  .bottomSection form fieldset button {
    background-color: white;
  }
}

/*# sourceMappingURL=index.css.map */
